@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./images/Rectangle\ 6.svg);
    background-repeat: no-repeat;
    background-position: right center;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.container{
    position: relative;
    font-family: 'Noto sans'; 
    min-height: 100vh;
    max-width: 1920px; 
    padding: 0% 0% 0 2%;
    z-index: 1;
}


.Hero nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.Hero nav ul{
    list-style: none;
    /* margin-left: 100px; */
}

.Hero nav ul li{
    display: inline-block;
    padding: 4px 14px;
    cursor: pointer;
    color: #1D5DC0;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    margin: 0 2rem 0 6rem;
}

.Hero nav ul li.active {
    background: #1D5DC0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    color: #FFFFFF;
}

.Hero nav ul li.demo:hover{
    background:  #FF7804;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    color: #1D5DC0;
}



.Hero nav ul li:hover{
    background: #1D5DC0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    color: #FFFFFF;
}

.Hero nav ul li:last-child{
    background: #FF7804;
    border: 1px solid #1D5DC0;
    box-sizing: border-box;
    border-radius: 14px;
}

.Hero nav > button {
    padding: 5px 10px;
    border-radius: 50px;
    border: 1px solid #1D5DC0;
    background-color: #fff;
    cursor: pointer;
    color: #1D5DC0;
    font-size: 17px;
    display: none;
}


.intro {
    display: flex;
    justify-content: space-between;
}

.intro .content1 {
    flex: 1;
    padding-left: 2%;
}

.intro .Hero-image {
    width: 50%;
    max-width: 100%;
    align-self: center;
    padding-block-start: 9rem;  
    padding-inline-end: 7%;
}

.intro .Hero-image img {
    width: 100%;
}


.content1{
    font-weight: 600;
    font-family: 'Noto Sans';
    font-style: normal;
}

.content1 h1 {
    font-size: 38px;
    line-height: 52px;
    color: #000000;
    margin-top: 96px;
    
}

.content1 p{
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #777777;
    margin-top: 50px;
}

.Entry > button {
    background: #1D5DC0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    margin-top: 100px;
    width: 128px;
    height: 30px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    color: #FFFFFF;
    display:inline-block;
    border: none;
}

.Entry #button1 {
    margin-right: 20px;
}

.Entry #button2 > a{
    text-decoration: none;
    color:#fff;
}


.Entry .dot1 {
  height: 14px;
  width: 14px;
  background-color: #1D5DC0;
  border-radius: 50%;
  display: inline-block;
  margin: 30px 0 0 10px;

}

.Entry .dot2 {
  height: 14px;
  width: 14px;
  background-color: #FF7804;
  border-radius: 50%;
  display: inline-block;
  margin: 30px 0 0 10px;
}

.Entry .dot3 {
  height: 14px;
  width: 14px;
  background-color: #1D5DC0;
  border-radius: 50%;
  display: inline-block;
  margin: 30px 0 0 10px;
}

.Entry .dot4 {
  height: 14px;
  width: 14px;
  background-color: #FF7804;
  border-radius: 50%;
  display: inline-block;
  margin: 30px 0 0 10px;
}


section .features{
   padding: 0 10px 0 3%; 
}

section h1{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 52px;
    color: #1D5DC0;
    text-align: center;
    margin-top: 50px;
}

.features .picx {
    width: 100px;
    height: 100px;
    justify-content: center;

}
.features {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1em;
    padding: 50px 0px;
    
}

.features > div {
    width: 280px;
} 
     


.features img {
    padding-left: 40px;
}


.features h2{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #1D5DC0;
    margin-top: 10px;
}

.features p{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #777777;
    margin-top: 20px;
}

footer {
	position: relative;
	line-height: 27px;
	text-align: center;
	margin-top: 100px;
}
footer p {
	z-index: 10;
	color: #777777;
	font-style: normal;
	font-weight: normal;
	font-family: 'Gadugi';
	font-size: 16px;
	padding-bottom: 1rem;
}


.triangle {
	width: 300px;
	height: 300px;
	background-color: #ff7804;
	position: absolute;
	bottom: 0;
	left: -150px;
	clip-path: polygon(0 0, 100% 100%, 0 100%); 
	z-index: -1;
}

/* ON SMALL SCREENS */

/* ipad pro screens */
@media (min-width: 990px) and (max-width: 1062px) {
}

/* ipad and landscape screens */
@media (min-width: 768px) and (max-width: 988px) {
	.features {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 1rem;
	}

	.content1 #button1 {
		width: 100px;
		margin-top: 25px;
	}
	.content1 #button2 {
		width: 100px;
		margin: 75px 0 0 30px;
		display: inline;
	}
	.dot_wrapper {
		margin-bottom: 35px;
	}
}

/* mobile phones */
@media (max-width: 767px) {
	.content1 h1 {
		font-size: 30px;
		line-height: 1.2;
	}
	.content1 p {
		margin-top: 30px;
	}
	.content1 #button1 {
		width: 100px;
		margin-top: 25px;
	}
	.content1 #button2 {
		width: 100px;
		margin: 75px 0 0 30px;
	}
	.dot1 {
		margin: 40px 0 0 0;
	}
	.dot_wrapper {
		margin-bottom: 35px;
	}
	.features {
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 0;
	}
	.features > div {
		width: 100%;
		text-align: center;
		margin-bottom: 2rem;
	}
	.features img {
		padding-left: 0;
		width: 80px;
		height: 80px;
	}
	.features .picx {
		width: 80px;
		height: 80px;
	}
	body {
		background-image: none;
	}

	.Hero nav ul {
		display: none;
	}

	.Hero nav > button {
		display: block;
	}

	.intro {
		flex-direction: column-reverse;
	}

	.intro .Hero-image {
		align-self: flex-start;
        width: 100%;
	}
}

